.main{
	flex: 1 1 100%;
}


//!Стили для секции Промо
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
.promo {
	@include adaptiv-value("padding-top", 243, 150, 1);
	@include adaptiv-value("padding-bottom", 182, 80, 1);
	position: relative;

	&__container{
		position: relative;
	}

	&__body {
		position: relative;
		z-index: 1;
	}

	&__content {
		text-align: center;
		max-width: 751px;
		@media(max-width: $md1+'px'){
			margin: 0 auto;
		}
	}

	&__title {
		font-family: 'LemonMilk';
		line-height: 85%;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.025em;
		color: #ffffff;
		@include adaptiv-value("font-size", 158.8, 57, 1);
	}

	&__subtitle{
		font-family: 'LemonMilk';
		line-height: 94%;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		color: #ffffff;
		margin-bottom: 64px;
		@include adaptiv-value("font-size", 96.1, 30, 1);
	}

	&__button {
		margin: 0 auto;
		&:hover{
			color: #2600ff;
			background-color: rgba(206, 206, 206, 0.376);
		}
	}

	&__image {
		position: absolute;
		right: -165px;
		top: -145px;
		z-index: 1;
		@media(max-width: $md1+'px'){
			display: none;
		}
	}

	&__fon-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		img{
			z-index: -1;
		}
	}
}
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //


//!Стили для секции Who we are
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
.whoweare {
	position: relative;
	@include adaptiv-value("padding-top", 100, 50, 1);
	@include adaptiv-value("padding-bottom", 100, 50, 1);

	&::after{
		content: "";
		position: absolute;
		z-index: -2;
		width: 1000px;
		height: 1000px;
		background-color: #171717;
		top: -500px;
		right: -150px;
		transform: rotate(45deg);
		@media(max-width: 1500px){
			right: -300px;
		}
		@media(max-width: 1250px){
			right: -400px;
		}
		@media(max-width: 1100px){
			right: -600px;
		}
		@media(max-width: $md2+'px'){
			display: none;
		}

	}

	&__body {
		display: flex;
		justify-content: center;
		@media(max-width: $md2+'px'){
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 1 506px;
		@media(max-width: $md2+'px'){
			text-align: center;
			flex: none;
		}
	}

	&__title {
		@include adaptiv-value("margin-bottom", 56, 20, 1);
	}

	&__text {
		@include adaptiv-value("margin-bottom", 70, 40, 1);
	}

	&__button {
		background-color: #bc2e3a;
		color: #ffffff;
		&:hover{
			box-shadow: 0 0 0 #bc2e3a;
			color: #fcff53;
		}
		@media(max-width: $md2+'px'){
			margin: 0 auto;
			margin-bottom: 60px;
		}
	}

	&__image {
		max-width: 767px;
		@media(max-width: $md2+'px'){
			max-width: 100%;
		}
		img{
			width: 100%;
			margin-right: -48px;
		}
	}
}
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //


//!Стили для секции What we do
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
.whatwedo {
	background-color: #f5f5f5;
	position: relative;

	@include adaptiv-value("padding-top", 94, 60, 1);
	@include adaptiv-value("padding-bottom", 30, 0, 1);

	&::before{
		content: "";
		position: absolute;
		width: 300px;
		height: 300px;
		top: 33%;
		transform: rotate(-45deg);
		left: -240px;
		background-color: #bc2e3a;
		@media(max-width: 1400px){
			display: none;
		}
	}

	&__title {
		margin-bottom: 66px;
		text-align: center;
	}

	&__body {
		display: flex;
		margin: 0 -15px;
		flex-wrap: wrap;
	}

	&__columns {
		flex: 0 1 33.333%;
		padding: 0 15px;
		@include adaptiv-value("margin-bottom", 80, 60, 1);
		@media(max-width: $md2+'px'){
			flex: 0 1 50%;
		}
		@media(max-width: 650px){
			flex: 0 1 100%;
		}
	}

	.column {

		&__body {
			display: flex;
			@media(max-width: 650px){
				flex-direction: column;
				align-items: center;
				text-align: center;
			}
		}

		&__icon {
			min-width: 75px;
			height: 75px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #bc2e3a;
			border-radius: 50%;
			margin-right: 15px;
			position: relative;
			top: -20px;
			img{

			}
			@media(max-width: 650px){
				margin-right: 0;
			}
		}
	
		&__content {

		}
	
		&__desk {
			@include adaptiv-value("margin-bottom", 20, 10, 1);
			font-size: 30px;
			line-height: 1.2;
			font-weight: 800;
			letter-spacing: -0.025em;
			color: #6f6f6e;
		}
	
		&__text {
		}
	}
}
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //






















//!Стили для модального окна
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.popup {
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.507);
top: 0;
left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&:target{
		opacity: 1;
		visibility: visible;
		
		.popup__content{
			transform: perspective(600px) translate(0, 0) rotate(0deg);
			opacity: 1;
		}
	}

	&__area{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		cursor: default;
	}

	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;
	}

	&__content {
		background-color: #fff;
		color: #000;
		max-width: 800px;
		padding: 30px;
		position: relative;
		transition: all 0.8s ease 0s;
		opacity: 0;
		transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
	}

	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		width: 48px;
		height: 48px;

		img{
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		font-size: 40px;
		margin: 0 0 1em 0;
	}

	&__text {
		font-size: 20px;
		line-height: 25px
	}
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Стили для слайдера
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.slider {
	position: relative;
	padding: 0 50px;

	&__item {
		text-align: center;
	}

	&__item img {
		width: 270px;
	}

	//Слайдер 
	.slick-slider {}

	//Слайдер запущен 
	.slick-slider.slick-initialized {}

	//Слайдер с точками
	.slick-slider.slick-dotted {}

	//Ограничивающая оболочка
	.slick-list {
		overflow: hidden;
	}

	//Лента слайдов
	.slick-track {
		display: flex;
	}

	//Слайд
	.slick-slide {}

	//Слайд активный (показывается)
	.slick-slide.slick-active {}

	//Слайд основной
	.slick-slide.slick-current {}

	//Слайд по центру
	.slick-slide.slick-center {}

	//Клонированный слайд 
	.slick-slide.slick-cloned {}

	//Стрелка
	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
		font-size: 0;
		width: 30px;
		height: 60px;
	}

	//Стрелка влево 
	.slick-arrow.slick-prev {
		left: 0;
		background: url("../img/arrow-left.svg") 0 0 / 100% no-repeat;
	}

	//Стрелка вправо
	.slick-arrow.slick-next {
		right: 0;
		background: url("../img/arrow-right.svg") 0 0 / 100% no-repeat;

	}

	//Стрелка не активная 
	.slick-arrow.slick-disabled {
		opacity: 0.2;
	}

	//Точки (булиты)
	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.slick-dots li {
		margin: 0 10px;
	}

	//Активная точка 
	.slick-dots li.slick-active button {
		background-color: transparent;
		border: 1px solid #fff;
	}

	//Элемент точки 
	.slick-dots li button {
		font-size: 0;
		width: 10px;
		height: 10px;
		background-color: #fff;
		border-radius: 50%;
	}
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Стили для табов
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.tabs {

	&__items {
		display: flex;
	}

	&__item {
		flex: 0 1 33.333%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		color: rgb(48, 45, 49);
		font-weight: 700;
	}

	&__item span{
		position: relative;
		z-index: 2;
	}

	&__blocks {}

	&__block {
		padding: 20px;
		position: relative;
		font-size: 18px;
		line-height: 24px;
		display: none;
	}
	&__block:target{
		display: block;
	}

	&__block:before{
		content: "";
		position: absolute;
		width: 33.333%;
		top: -50px;
		height: 50px;
	}

	&__block:nth-child(1){
		background-color: rgb(223, 110, 5);
	}
	&__block:nth-child(1):before{
		background-color: rgb(223, 110, 5);
		left: 0;
	}
	&__block:nth-child(2) {
		background-color: rgb(2, 201, 228);
	}
	&__block:nth-child(2):before {
		background-color: rgb(2, 201, 228);
		left: 33.333%;
	}
	&__block:nth-child(3) {
		background-color: rgb(223, 5, 139);
	}
	&__block:nth-child(3):before {
		background-color: rgb(223, 5, 139);
		right: 0;
	}

	@media(max-width: 600px) {
		&__item span {
			display: block;
			width: 100px;
			white-space: nowrap;
			text-align: center;
			overflow: hidden;
			font-size: 14px;
			text-overflow: ellipsis;
		}
	}
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Стили для спойлера
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.spoilers {
	margin-top: 50px;

	&__item {
		margin-bottom: 20px;
		font-size: 20px;
	}

	&__title {
		margin-bottom: 10px;
		padding-left: 25px;
		letter-spacing: 2px;
		position: relative;
		cursor: pointer;
		&.active:before,
		&.active:after{
			background-color: red;
		}
		&.active:before{
			transform: rotate(-40deg);
		}
		&.active:after{
			transform: rotate(40deg);
		}
		&:before,
		&:after{
			content: "";
			position: absolute;
			width: 10px;
			height: 1px;
			background-color: #000;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.3s ease 0s;
		}
		&:before {
			left: 0;
			transform: rotate(40deg);
		}
		&:after {
			left: 8px;
			transform: rotate(-40deg);
		}
	}

	&__text {
		display: none;
	}
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

//!Стили для таймера
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //
/*.timer {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;

	&:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		z-index: 3;
		background-color: #fff;
		animation: mask_left 10s steps(1, end) forwards;
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		z-index: 3;
		background-color: #7a956b;
		animation: mask_right 10s steps(1, end) forwards;
	}

	&__line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		animation: line 10s linear forwards;
		z-index: 2;

		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 50%;
			height: 100%;
			background-color: #7a956b;
		}
	}

	&__body {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #333;
		text-align: center;
		overflow: hidden;
		z-index: 4;
	}

	&__counter {
		animation: counter 10s steps(9, end) forwards;

		span {
			color: #fff;
			font-size: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100px;
		}
	}

	@keyframes counter{
		0%{

		}
		100%{
			transform: translate(0px, -900px);
		}
	}

	@keyframes line {
		0% {}

		100% {
			transform: rotate(360deg);
		}
	}
	@keyframes mask_left {
		0% {
			visibility: visible;
		}
		50%,
		100% {
			visibility: hidden;
		}
	}
	@keyframes mask_right {
		0% {
			visibility: hidden;
		}

		50%,
		100% {
			visibility: visible;
		}
	}
}*/
// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //